{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FoodFlow{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <header>
        <div class="login">
            <a href="{% url 'login' %}" class="button">Connexion</a>
            <a href="{% url 'logout' %}" class="button">Déconnexion</a>
        </div>
        <div class="title">
            <h1>FoodFlow</h1>
        </div>
    </header>
    <div class="content">
        {% block content %}
        <!-- Contenu spécifique à chaque page -->
        {% endblock %}
    </div>
    
    <footer>
        <p>&copy; 2024 FoodFlow. Tous droits réservés.</p>
    </footer>
</body>
</html>
