body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;  /* Couleur de fond */
    color: white;               /* Couleur du texte */
    text-align: center;
    text-decoration: none;       /* Supprime la décoration de lien */
    border-radius: 5px;          /* Arrondir les coins */
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition pour l'effet hover */
}

.liste {
    text-decoration: none;
}
